<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Ascending w/ Arelius</h1>
    <p>The goal of this will be to now go ahead and setup a functional, somewhat acceptably styled website in which to document my machine learning escapades</p>

    <h2>Temporary Blog Set-up</h2>
    <h3>Welcome to day two of my 30 day self imposed Kaggle progression!</h3>
    <p>A valid question to start with is: <div style = color:DarkSlateBlue> why I am 
    making a github.io page while I should be diving head first into the plethora of 
    Kaggle content that there is to consume?</div><br> Well, I think it would be awesome if by
    the end of the 30 days I haven't just gotten through a lot of material, projects, and hopefully
    a competition or two but also developed a way to really bring everything together, as such
    this long winded introduction was born. </p>

    <h2>Takeaways from Day 2 of the Kaggle progression so far</h2>
    <p>First of all, I am quite behind my peers. I don't say this to merely be self deprecating, but rather
        to act as a reference point as to what I was when I look back after the end of these 30 days and later on
        in my development. Just for posterity here is my current proficiency to look back on later:</p>

        <ul>
            <li>Python: Intermediate</li>
            <li>HTML: functional (lol)</li>
            <li>Machine Learning: Novice(+)</li>
        </ul>

    <h2>Takeaways from Day 3 of the Kaggle progression</h2>
    <p>Third day was very mild with a little bit of time spent on the seaborn tutorial from kaggle. I split my focus up today and it shows in the lack of time I managed to get in, but I digress.
    A quick takeaway that I am noticing is that I should set up a flask development evnironment for the blog in order to iterate faster. The current upload and refresh rate with github pages is 
    about 40 seconds or in other words-way too long. Day 4 is about to be an absolute blast, I have a lot of content lined up and will be updating this page throughout(yay, no more garbage white
    background and absolutely no interactive capacity). 
    </p>

</body>

</html>